body {
    background-color: blanchedalmond;
}


.grid-container {
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 3px;
    background-color: #2196F3;

  }


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  border: solid;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
  }